<h1 class="bd-title" style="text-align:center;">{{charity.charityName}}</h1>

<h4 class="bd-subtitle">{{charity.tagLine}}</h4>

<p class="bd-lead">for: {{charity.category.categoryName}}</p>

<img src="{{charity.currentRating.ratingImage.large}}">

<p class="bd-lead">{{charity.mission}}</p>

<a href="{{charity.websiteURL}}" target="_blank" class="btn btn-primary">{{charity.charityName}} Website</a>
<hr>
